body {
    background-color: #cdcdcd;
    background: url('Hibiscus-bg-grey.png');
    height: 100%;
    width: 100%;
    margin: 0 auto;
    color: black;
    letter-spacing: 3px;
    font-size: 12px;
    font-family: 'Sanchez', serif;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
img {
    text-align: center;
}
.logo {
    max-width: 60%;
    display: block;
    margin: auto;
    padding: 10%;
}
@media (max-width: 800px) {
    .logo {
        max-width: 80%;
    }
    body {
        font-size: 9px;
    }
}